@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w bibliotece online!</h1>
    <p><a href="https://localhost:7281/Identity/Account/Login">Zaloguj się</a> aby wyświetlić zbiory.</p>
</div>
