@using OnlineLibrary.BLL.Enums
@using OnlineLibrary.BLL.Models
@model Book
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Autor</label>
                <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="BookType" class="control-label">Kategoria</label>
                <select asp-for="BookType" asp-items="Html.GetEnumSelectList<BookType>()" class="form-control">
                    <option selected="selected" value="">Wybierz</option>
                </select>
                <span asp-validation-for="BookType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label">Data publikacji</label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            <div>
                <a asp-action="Index">Powrót</a>
            </div>
