@using OnlineLibrary.BLL.Enums
@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Stwórz książkę</h1>

<h4>Książka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_BookCreate" model=@Model />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
