@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "Delete";
}


<h2>Czy na pewno chcesz usunąć książkę?</h2>
<div>
    <partial name="_BookDetails" model="@Model" />
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-action="Index"class="btn btn-outline-dark">Powrót</a>
    </form>
</div>
