@using OnlineLibrary.BLL.Enums
@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>

<h4>Książka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_BookCreate" model=@Model />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
