@using Microsoft.AspNetCore.Identity
@using OnlineLibrary.BLL.Utility
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="card">
    <div class="card-body">
        <h1 class="card-title" style="text-align: center">Biblioteka Online</h1>
        <p class="card-text"style="text-align: center">„Powiedz mi, jakie książki masz w domu, a powiem ci, kim jesteś.”</p>
    </div>
    <img src="https://bi.im-g.pl/im/52/af/18/z25882706IH,Ksiazka.jpg" class="card-img-top" alt="…">
    
</div>
</div>
