<div class="alert alert-dismissible alert-success"style="width: 250px; height: 200px; margin-left:900px; margin-top: 250px">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Gratulujemy!</strong> 
    <p>
        Książka została wypożyczona. Proszę zgłosić się po odbiór do wybranej placówki, po zmianie statusu na Do dobioru.
    </p>
</div>