@using OnlineLibrary.BLL.Enums
@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "ShowMeWhatsYouveGot";
}

<h1>Zaraz Coś znajdziemy!</h1>

<p>
<div class="form-group">
    <form asp-action="Roll" >
                 <label class="control-label">Co Cię interesuje?</label>
                <select asp-for= "BookType" asp-items="Html.GetEnumSelectList<BookType>()" class="form-control">
                <option value="99">Wszystko jedno</option> <!-- notice value="99" -->
                </select>
                 
        <input type="submit" value="Losuj" class="btn btn-primary col-12" />
        <br>
    </form>
    <form asp-controller="Home" asp-action="Index">
        <button type="submit" class="btn btn-secondary col-12">Powrót</button>
    </form>
            </div>
</p>


