@using OnlineLibrary.BLL.Enums
@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "ShowMeWhatsYouveGot";
}

<h1>Zaraz Coś znajdziemy!</h1>

<p>
<div class="form-group">
                 <label class="control-label">Co Cię interesuje?</label>
                <select asp-items="Html.GetEnumSelectList<BookType>()" class="form-control">
                    <option selected="selected" value="">Wszystko jedno</option>
                </select>
                 <form asp-action="Roll" >
        <input type="submit" value="Losuj" class="btn btn-primary col-12" />
        <br>
    </form>
    <form asp-controller="Home" asp-action="Index">
        <button type="submit" class="btn btn-secondary col-12">Powrót</button>
    </form>
            </div>
</p>


