@using OnlineLibrary.BLL.Enums
@using OnlineLibrary.BLL.Models
@model OnlineLibraryASP.ViewModels.BookCreateViewModel
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<input asp-for="Book.Id" hidden />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label">Tytuł</label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label">Autor</label>
                <select asp-for="Book.AuthorId" class ="form-control" asp-items="@Model.AuthorsList" class="form-select">
                    <option disabled selected>--Select Category--</option>
        </select>
        <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Book.BookType" class="control-label">Kategoria</label>
                <input asp-for="Book.BookType"  class="form-control" />
                <span asp-validation-for="Book.BookType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Epoch" class="control-label">Epoka</label>
                <input asp-for="Book.Epoch"  class="form-control" />
                <span asp-validation-for="Book.Epoch" class="text-danger"></span>
            </div>
<div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label">Link do obrazu</label>
                <input asp-for="Book.ImageUrl"  class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
<div class="form-group">

    @if (Model.Book.Id != 0)
    {
        <input type="submit" value="Zapisz" class="btn btn-primary"/>

    }
    else
    {
        <input type="submit" value="Zapisz" onclick="return ValidateInput()" class="btn btn-primary"/>
    }
    <a asp-action="Index" class="btn btn-outline-dark">Powrót do listy</a>
</div>
